<!DOCTYPE html>

<html>
<head>
    <title>Exemplo EJS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estyle.css">
</head>

<body>
    <h1>EXEMPLO FOR</h1>
    
        <% for (var i =1; i <= tamanho;  i++ ) { %>
           <div>
               <%= i %>
           </div>
        <% } %>
        
        
</body>



</html>