<!DOCTYPE html>

<html>
<head>
    <title>Resposta</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estyle.css">
</head>

<body>
    <h1>Resposta:</h1>
    <p>Mensagem do servidor:  <%= Mensagem%></p>

    <P>Usuário: <%= usuário></P>
    <P>Email: <%= Email></P>
</body>



</html>