

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: white;
    border-radius: 10px;

}

h1 {
    color: #333;
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    display: block;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

#feedback {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
