body {
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* cor de fundo */
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza verticalmente */
  }
  